@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1 Main st.<br />
    Tallaght<br />
    Dublin 24<br />
    <abbr title="Phone">P:</abbr>
    014445555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:rollcall3@outlook.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>