@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Role Call</h1>
    <p class="lead">Your Student Management Solution</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Student Management</h2>
        <p>
            With Roll Call, you can manage your student's attendance, course enrollments and grades for each course.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Statistics</h2>
        <p>Here you can view statistics for each student such as class attendance and grades. You can conduct in-depth analysis of each student with just a click of a button.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Notifications</h2>
        <p>Absenteeism is tracked and automated e-mails will be sent to students who continually miss classes. </p>
        
    </div>
</div>